<% content_for :css do %>
  <%= stylesheet_link_tag "application", :media => 'all' %>
<% end %>

<div data-ng-init="user = <%= current_user.to_json(methods: [:has_joined_courts]) %>">
</div>

<ng-include src="'main/index/index.html'"></ng-include>

<% if current_user.sign_in_count == 1 %>
  <script>
    mixpanel.alias("<%= current_user.email %>");
    mixpanel.people.set({
      '$first_name':        '<%= current_user.first_name %>',
      '$last_name':         '<%= current_user.last_name %>',
      '$email':             '<%= current_user.email %>',
      'skill':              '<%= current_user.ui_skill %>',
      'new_friends_invited': 0,
      'friends_invited':     0,
      'courts':              0,
      'friends':             0,
      'invited_by_code':    '<%= current_user.invited_by_code %>'
    });
  </script>
<% end %>
<script>
  mixpanel.identify("<%= current_user.email %>");
  mixpanel.register({email: "<%= current_user.email %>"});
<% if current_user.sign_in_count == 1 %>
  mixpanel.track("Sign up successful", {
    <% if current_user.invited_by_id != nil %>
    'source': 'invite',
    'invited_by_id': '<%= current_user.invited_by_id %>'
    <% elsif current_user.courts.count == 1 %>
    'source': 'iPad',
    'court_code':      '<%= current_user.courts.first.court_code %>'
    <% else %>
    'source': 'homepage'
    <% end %>
  });
<% current_user.update_attributes!(sign_in_count: 2) %>
<% end %>
  mixpanel.track("Login successful");
</script>

<script>
  var EXTERNAL_URL = '<%= ENV['EXTERNAL_URL'] %>';
</script>

<% content_for :javascript do %>
  <%= javascript_include_tag "main_app" %>
<% end %>
