<% content_for :css do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>

<% if @court_code.present? %>
  <div class="tennis-center-logo-container">
    <img class="logo-header-sm" src="<%= image_path "#{@court_code}_logo.png" %>">
    <div class="powered-by">
      POWERED BY
    </div>
    <img class="logo-header-sm" src="<%= image_path 'mp_logo.png' %>">
  </div>
<% else %>
  <img class="logo-header" src="<%= image_path 'mp_logo.png' %>">
<% end %>

<div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/QKAkETY7Wfs" frameborder="0" allowfullscreen></iframe>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.hidden_field :invited_by_code %>
  <%= f.hidden_field :court_code %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <select name="user[gender]" id="user_gender" class="form-control">
      <option value="" selected="selected">Please select</option>
      <option value="true">Male</option>
      <option value="false">Female</option>
    </select>
  </div>

  <div class="field">
    <%= f.label :skill %>
    <select name="user[skill]" id="user_skill" class="form-control">
      <option value="" selected="selected">Please select</option>
      <option value="2">1.0</option>
      <option value="3">1.5</option>
      <option value="4">2.0</option>
      <option value="5">2.5</option>
      <option value="6">3.0</option>
      <option value="7">3.5</option>
      <option value="8">4.0</option>
      <option value="9">4.5</option>
      <option value="10">5.0</option>
      <option value="11">5.5</option>
      <option value="12">6.0</option>
      <option value="13">6.5</option>
      <option value="14">7.0</option>
    </select>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
  </div>

  <p class="accept-terms">
    By clicking "Sign Up", you agree to our <a href="/terms_of_service.html" target="_blank">Terms of Service</a>, <a href="/privacy_policy.html" target="_blank">Privacy Policy</a>, and <a href="/copyright_policy.html" target="_blank">Copyright/IP Policy</a>.
  </p>

  <div class="actions">
    <%= f.submit 'Sign up', class: 'btn-sm-mpgreen' %>
  </div>
<% end %>

<% if @court_code.nil? %>
  <div class="alternate-action">
    <div class="action-type">
    </div>

    <div class="center-btn">
      <%= link_to 'I already have an account', new_session_path(resource_name), class: 'btn-sm-default' %>
    </div>
  </div>
<% else %>
  <br />
<% end %>

<script>
  mixpanel.track("Navigate 'Sign Up'",
<% if @invited_by_code.present? %>
      {"Source": "Invite"}
<% else %>
      {"Source": "Website"}
<% end %>
  );
</script>

<hr>

<p class="accept-terms">
  2016 Match Point Technologies LLC <a href="mailto:contact@matchpoint.us">Contact us</a>
</p>
