<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :invited_by_code %><br />
    <%= f.text_field :invited_by_code, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <p><%= f.label :skill %><br />
    <select name="user[skill]" id="user_skill">
      <option value="" selected="selected">Please select</option>
      <option value="2">1.0</option>
      <option value="3">1.5</option>
      <option value="4">2.0</option>
      <option value="5">2.5</option>
      <option value="6">3.0</option>
      <option value="7">3.5</option>
      <option value="8">4.0</option>
      <option value="9">4.5</option>
      <option value="10">5.0</option>
      <option value="11">5.5</option>
      <option value="12">6.0</option>
      <option value="13">6.5</option>
      <option value="14">7.0</option>
    </select>
  </p>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <p>
    By clicking "Sign Up", you agree to our <a href="/privacy_policy.html" target="_blank">privacy policy</a> and <a href="/terms_of_service.html" target="_blank">terms of service</a>.
  </p>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<a href="/copyright_policy.html" target="_blank">©Match Point Technologies 2016</a>