<!DOCTYPE html>
<html>
<head></head>
<body>
<p><%= @user_name %> just posted a message:</p>
<p><%= @text %></p>
<p>
  Regarding your match at:<br>
  <%= @match_court %><br>
  <%= @match_time %>
</p>
<br>
<a href="<%= ENV['EXTERNAL_URL'] %>/#/chats/<%= @url_ext %>">View this discussion here</a>
</body>
</html>
