<% content_for :css do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>

<img class="logo-header" src="<%= image_path 'mp_logo.png' %>">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field">
    <label class="password-label">
      <span>Password</span>
      <%= link_to 'Forgot?', new_password_path(resource_name) %>
    </label>
    <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <p class="accept-terms">
    By clicking "Log in", you agree to our <a href="/terms_of_service.html" target="_blank">Terms of Service</a>, <a href="/privacy_policy.html" target="_blank">Privacy Policy</a>, and <a href="/copyright_policy.html" target="_blank">Copyright/IP Policy</a>.
  </p>

  <div class="actions">
    <%= f.submit 'Log in', class: 'btn-sm-mpgreen' %>
  </div>
<% end %>

<div class="alternate-action">
  <div class="action-type">
  </div>

  <div class="center-btn">
    <%= link_to 'Create an account', new_registration_path(resource_name), class: 'btn-sm-default' %>
  </div>
</div>

<script>
  mixpanel.track("Navigate 'Login'");
</script>

<hr>

<p class="accept-terms">
  2016 Match Point Technologies LLC <a href="mailto:contact@matchpoint.us">Contact us</a>
</p>
