<% content_for :css do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>

<img class="logo-header" src="<%= image_path 'mp_logo.png' %>">

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <p><%= f.label :first_name %><br />
  <%= f.text_field :first_name, class: 'form-control' %></p>

  <p><%= f.label :last_name %><br />
  <%= f.text_field :last_name, class: 'form-control' %></p>

  <div class="field">
    <label for="user_gender">Gender</label><br />
    <select name="user[gender]" id="user_gender" class="form-control">
      <option value="" selected="selected">Please select</option>
      <option value="true">Male</option>
      <option value="false">Female</option>
    </select>
  </div>

  <p><%= f.label :skill %><br />
  <select name="user[skill]" id="user_skill" class="form-control">
    <option value="" selected="selected">Please select</option>
    <option value="2">1.0</option>
    <option value="3">1.5</option>
    <option value="4">2.0</option>
    <option value="5">2.5</option>
    <option value="6">3.0</option>
    <option value="7">3.5</option>
    <option value="8">4.0</option>
    <option value="9">4.5</option>
    <option value="10">5.0</option>
    <option value="11">5.5</option>
    <option value="12">6.0</option>
    <option value="13">6.5</option>
    <option value="14">7.0</option>
  </select>
  </p>

  <% if f.object.class.require_password_on_accepting %>
    <p><%= f.label :password %><br />
    <%= f.password_field :password, class: 'form-control' %></p>
  <% end %>

  <div class="actions">
    <%= f.submit t("devise.invitations.edit.submit_button"), class: 'btn-sm-mpgreen' %>
  </div>

  <script>
    mixpanel.track("Navigate 'Sign Up'", {"Source": "Invite"});
  </script>
<% end %>
