<% content_for :css do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>

<div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3MxACF7YXRA" frameborder="0" allowfullscreen></iframe>
</div>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <p><%= f.label :first_name %>
  <%= f.text_field :first_name, class: 'form-control' %></p>

  <p><%= f.label :last_name %>
  <%= f.text_field :last_name, class: 'form-control' %></p>

  <div class="field">
    <label for="user_gender">Gender</label>
    <select name="user[gender]" id="user_gender" class="form-control">
      <option value="" selected="selected">Please select</option>
      <option value="true">Male</option>
      <option value="false">Female</option>
    </select>
  </div>

  <div>
    <%= f.label :skill %>
    <select name="user[skill]" id="user_skill" class="form-control">
      <option value="" selected="selected">Please select</option>
      <option value="12">Pro</option>
      <option value="10">Open</option>
      <option value="8">Elite</option>
      <option value="6">A</option>
      <option value="4">B</option>
      <option value="2">C</option>
      <option value="0">D</option>
    </select>
  </div>

  <% if f.object.class.require_password_on_accepting %>
    <p><%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %></p>
  <% end %>

  <p class="disclaimer-center">
    Don't worry, we hate spam as much as you. We won't sell your email to anyone and you can unsubscribe from any of our communications.
  </p>

  <div class="actions">
    <%= f.submit t("devise.invitations.edit.submit_button"), class: 'btn-sm-mpgreen' %>
  </div>

  <br />

  <script>
    mixpanel.track("Navigate 'Sign Up'", {"Source": "Invite"});
  </script>
<% end %>
