<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta property="og:url" content="<%= ENV['EXTERNAL_URL']%>" />
  <meta property="og:title" content="Match Point" />
  <meta property="og:image" content="<%= ENV['EXTERNAL_URL']%><%= image_path 'fb_logo.png' %>" />
  <meta property="og:description" content="Find tennis players in your area and play any time you want!" />
  <link rel="icon"
        type="image/png"
        href="<%= asset_path 'favicon.ico' %>">
  <title>Match Point</title>
  <%= csrf_meta_tags %>
  <%= yield :css %>

  <!--[if lt IE 9]>
    <%= javascript_include_tag "ru-es5-shim" %>
    <%= stylesheet_link_tag 'ie8-helper', :media => 'all' %>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- start Mixpanel -->
  <script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
    0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
  for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("<%= ENV['MIXPANEL_KEY'] %>");</script>
  <!-- end Mixpanel -->

  <%= yield :javascript_head %>
</head>

<%= yield :head %>

<body ng-app='matchpointApp' class="all-background">
<div class="col-md-offset-4 col-md-4 col-xs-offset-1 col-xs-10 main-container">
  <%= yield %>
</div>
<!--<ng-include src="'common/invalid_url/invalid_url.html'"></ng-include>-->
<!--<div id="progressSpinner" ng-if="outstandingRequests"></div>-->

<%= yield :javascript %>

</body>
</html>
